In [12]:
# 1. Convert an integer into a floating point
a=20
a=float(a)
a
type(a)

float

In [13]:
# 2. Convert an float into a integer point
b=5.5
b=int(b)
b
type(b)

int

In [14]:
# 3. Convert an integer into a string
c=10
c=str(c)
c
type(c)

str

In [15]:
# 4. Convert a list to tuple
marks=[70,56,88,90]
marks=tuple(marks)
marks
type(marks)

tuple

In [19]:
#. 5 Convert a tuple to alist
sub=("eng","chem","phy")
sub=list(sub)
sub

['eng', 'chem', 'phy']

In [22]:
#. 6 Covert  a decimal number to binary
num=10
num=bin(10)
num

'0b1010'

In [23]:
#. 7. Convert a non zero number to boolean
x=5
x=bool(x)
x

True